body,
html {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-size: 14px;
  background: #f9f4e8;
  overflow: hidden;
}

h1,
h5 {
  font-family: "Playfair Display", serif;
}

p,
button,
a,
input,
span {
  font-family: "Lato", sans-serif;
}

.hiring-btn {
  padding: 0.7em 1em;
  margin-left: 1em;
  color: white;
  border-radius: 20px;
  font-size: 0.7rem;
  text-decoration: none;
  background-image: linear-gradient(to right, #ea965c, #ea656d);
}

nav {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo-area {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column-reverse;
  padding: 2em 0em;
}

main div:nth-child(2) {
  margin-left: 2em;
  max-width: 87%;
}

main div:nth-child(1) {
  margin-top: 110%;
}

img {
  max-width: 100%;
}

.image-container {
  position: relative;
}

.blue-shape {
  position: absolute;
  transform: rotate(-30deg);
}

.pink-shape {
  position: absolute;
  transform: rotate(-20deg);
}

.purple-shape {
  position: absolute;
  transform: rotate(-10deg);
}

.hero-image {
  position: absolute;
}

.hero-content h1 {
  font-size: 1.7rem;
  padding-right: 1.5em;
}

.hero-content p {
  color: #636261;
  line-height: 1.6;
}

form {
  display: flex;
  flex-direction: column;
}

input,
button {
  padding: 1em;
  border: none;
  border-radius: 3px;
  margin: 0.6em 0em;
}

button {
  background: #4977ea;
  color: white;
  font-weight: 400;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.icon-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.icon-text span {
  margin-left: 1em;
}

footer div:nth-child(1) a {
  text-decoration: none;
  color: #636261;
  padding-left: 1.2em;
  font-weight: normal;
}

footer div:nth-child(1) a:nth-child(1) {
  padding-left: 0em;
}

footer div:nth-child(2) {
  display: flex;
  align-items: center;
  padding: 3em 0em 1em 0em;
}

footer div:nth-child(2) h4 {
  margin: -0.2em 0em 0.4em 0em;
}
footer div:nth-child(2) span {
  margin-left: 1.3em;
}
