body,
html {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-size: 14px;
  background: #f9f4e8;
  padding: 1.5em 1em;
  max-width: 550px;
  margin: 0 auto;
  overflow: hidden;
}

h1,
h5 {
  font-family: "Playfair Display", serif;
}

p,
button,
a,
input,
span {
  font-family: "Lato", sans-serif;
}

nav ul li {
  list-style: none;
  padding: 0em 1em;
}

nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #636261;
}
.hiring-btn {
  padding: 0.7em 1em;
  margin-left: 1em;
  color: white;
  border-radius: 20px;
  font-size: 0.7rem;
  text-decoration: none;
  background-image: linear-gradient(to right, #ea965c, #ea656d);
}

.btn-join {
  background: #4977ea;
  color: white;
  font-weight: 400;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 1em;
  border: none;
  border-radius: 3px;
  margin: 0.6em 0em;
}

@media (min-width: 0px) and (max-width: 950px) {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: #f9f4e8;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.2s ease-in 0.3s;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0em;
  }

  nav ul li {
    padding: 1.2em 0em;
  }

  nav ul li a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }

  .btn-join {
    background: #ea7368;
  }

  .btn-join a {
    color: white;
  }
}

.nav-open {
  transform: translateX(0%);
}

.close-nav {
  content: url("img/close.svg");
  width: 20px;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in 0.3s;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo-area {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  cursor: pointer;
  z-index: 1000;
}

main {
  display: flex;
  flex-direction: column-reverse;
  padding: 2em 0em;
}

main div:nth-child(2) {
  margin-left: 3em;
  max-width: 87%;
  display: flex;
  justify-content: center;
}

main div:nth-child(1) {
  margin-top: 100%;
}

img {
  max-width: 95%;
}

.image-container {
  position: relative;
}

.blue-shape {
  position: absolute;
  transform: rotate(-30deg);
}

.pink-shape {
  position: absolute;
  transform: rotate(-20deg);
}

.purple-shape {
  position: absolute;
  transform: rotate(-10deg);
}

.hero-image {
  position: absolute;
}

.hero-content h1 {
  font-size: 1.7rem;
  padding-right: 1.5em;
}

.hero-content p {
  color: #636261;
  line-height: 1.6;
}

form {
  display: flex;
  flex-direction: column;
}

input,
button {
  padding: 1em;
  border: none;
  border-radius: 3px;
  margin: 0.6em 0em;
  outline: none;
}

.icon-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.icon-text span {
  margin-left: 1em;
}

footer div:nth-child(1) a {
  text-decoration: none;
  color: #636261;
  padding-left: 1.2em;
  font-weight: normal;
}

footer div:nth-child(1) a:nth-child(1) {
  padding-left: 0em;
}

footer div:nth-child(2) {
  display: flex;
  align-items: center;
  padding: 3em 0em 1em 0em;
}

footer div:nth-child(2) h4 {
  margin: -0.2em 0em 0.4em 0em;
}
footer div:nth-child(2) span {
  margin-left: 1.3em;
}

@media (min-width: 550px) {
  body {
    max-width: 780px;
    margin: 0 auto;
  }

  main div:nth-child(1) {
    margin-top: 50%;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  input {
    width: 40%;
  }

  button {
    width: 25%;
    margin-left: 1em;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer div:nth-child(2) {
    padding: 0em;
  }

  img {
    max-width: 50%;
  }
}

@media (min-width: 950px) {
  .hamburger {
    display: none;
  }

  body {
    max-width: 1000px;
    margin: 0 auto;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  main div:nth-child(2) {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  main div:nth-child(1) {
    margin-top: 0%;
    width: 60%;
  }

  main {
    min-height: 73vh;
    padding: 2em 0em 0em 0em;
  }

  img {
    max-width: 85%;
  }

  .hero-content h1 {
    font-size: 2.8rem;
    padding-right: 1.5em;
  }

  .hero-content p {
    font-size: 0.9rem;
    padding-right: 11em;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav ul:nth-child(1) {
    margin-right: 6em;
  }

  nav ul:nth-child(2) li:nth-child(2) a {
    color: white;
  }
}
